<div class="page-header">
  <h1>Expenses</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newExpensesPath() %>" class="btn btn-primary">Create New Expense</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Description</th>
    <th>Amount</th>
    <th>Exchange</th>
    <th>AccountID</th>
    <th>Deleted</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (expense) in expenses { %>
      <tr>
      <td><%= expense.Description %></td>
        <td><%= expense.Amount %></td>
        <td><%= expense.Exchange %></td>
        <td><%= expense.AccountID %></td>
        <td><%= expense.Deleted %></td>
        <td>
          <div class="pull-right">
            <a href="<%= expensePath({ expense_id: expense.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editExpensePath({ expense_id: expense.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= expensePath({ expense_id: expense.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
