<style>
  .auth-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .sign-in-btn{
    margin-right: 10px;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
</style>

<div class="starter-template">
  <h1><%= t("simple_expenses_app") %></h1>
  <p class="lead"><%= t("register_unlimited_accounts") %><br><%= t("track_incomes_and_expenses") %></p>
</div>

<br>

<div class="auth-center">
  <%= if (current_user) { %>
    <h1><%= current_user.Email %></h1>
    <a href="/signout" data-method="DELETE">Sign Out</a>
  <% } else { %>
    <a href="/signin" class="btn btn-primary">Sign In</a>
    <a href="/users/new" class="btn btn-success">Register</a>
  <% } %>
</div>
